@import "tailwindcss";
@plugin 'tailwind-scrollbar';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #111111;

  background-repeat: repeat;
  background-size: auto;
  background-position: top left;
  background-attachment: fixed;
}

/* Scrollbar Styling */
@layer utilities {
  /* Chrome, Safari and Opera */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #ff0000;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background: #ea580c;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #f97316;
  }

  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #ea580c #111111;
  }
}